// Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// Font-Size
$fontBody: 1.125rem; // 18px Name & Stats
$fontOther: 0.875rem; //14px Other

// Font-Weight
$fontRegular: 400;
$fontBold: 700;

// Font-Family
$fontFamily: 'Kumbh Sans', sans-serif; // 'Kumbh Sans', sans-serif;
